.title {
    padding: 40px;
    font-family: montserrat;
    font-size: 35px;
}

.secretariaDiv, .mensagem {
    text-align: center;
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 2%;
}

.mensagem {
    height:200px;
    display: table;
    padding: 50px;
    width: 96%;
}

.mensagem h1 {
    display: table-cell;
    vertical-align: middle;
    font-family: arial,sans-serif;
    color: red;
}

ul li {
    font-size: 27px;
    padding: 10px;
}

.secretariaAncor {
    color: black;
}

.secretariaAncor:hover  {
    background-color: white;
    text-decoration: underline;
    color: black;
}

.form {
    margin-left: 40%;
    margin-top: 20px;
}

.form fieldset {
    margin-bottom: 25px;
    padding: 20px;
    text-align: center;
    width: 40%;
}

.form legend {
    padding: 5px
}

.comunicado {
    height: 50%;
}

.comunicado div {
    margin-bottom: 15px;
}

.button {
    margin-top: 10px;
    font-size: 25px;
    width: 40%;
    padding: 2px;
}